<!-- ══ À PROPOS ═══════════════════════════════════════════════ -->
<section class="about" id="entreprise">
  <div class="z">

    <%= render "pages/home/about/mission_band" %>

    <div class="about-grid">
      <%= render "pages/home/about/intro" %>
      <%= render "pages/home/about/pillars" %>
    </div>

    <%= render "pages/home/about/sovia_block" %>
    <%= render "pages/home/about/sectors" %>

  </div>
</section>
