<%= tag.div class: "sg", data: { r: true, d: card[:delay] }.compact do %>
  <span class="sg-badge live">En production</span>
  <img class="sg-img" src="<%= card[:image] %>" alt="<%= card[:alt] %>" loading="lazy" width="700" height="470">
  <div class="sg-overlay">
    <div class="sg-cat"><%= card[:category] %></div>
    <div class="sg-name"><%= card[:name] %></div>
    <div class="sg-kpi"><%= card[:kpi] %></div>
  </div>
<% end %>
